[Desktop Entry]
Name=Aex Dark
Comment=Subtle Design
X-KDE-PluginInfo-Author=Phobi4n
X-KDE-PluginInfo-Email=smithmark347@gmail.com
X-KDE-PluginInfo-Name=Aex_Dark
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=CC BY-NC-SA
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[ContrastEffect]
enabled=false
contrast=1
intensity=1
saturation=1.6
